/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #000430;
  --secondarybackground: #171c48;
  --text: #fff;
  --purple: #828dff;
  --teal: #24feee;
}

/* Body */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto 0 auto;
  max-width: 500px;
  width: 100%;
}

/* Stats box */
.stats-container {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.details {
  flex: 1;
}

/* Progress bar */
#progressbar {
  width: 100%;
  height: 10px;
  background-color: var(--secondarybackground);
  border-radius: 5px;
  margin-top: 20px;
}

#progress {
  width: 0%;
  height: 10px;
  background-color: var(--teal);
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Number circle */
#numbers {
  width: 100px;
  height: 100px;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
}

/* Input form */
form {
  margin-top: 60px;
  width: 100%;
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 16px;
  background: var(--secondarybackground);
  border: 1px solid var(--purple);
  border-radius: 10px;
  outline: none;
  color: var(--text);
  font-size: 16px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--text);
  font-size: 30px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--teal);
  color: #000;
}

/* Task list */
#task-list {
  margin-top: 30px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskItem {
  display: flex;
  background-color: var(--secondarybackground);
  padding: 12px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.task p {
  font-size: 16px;
}

/* Completed tasks */
.completed p {
  text-decoration: line-through;
  color: var(--teal);
}

/* Action buttons */
.icons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 8px;
  transition: 0.2s;
}

.icons button:hover {
  transform: scale(1.2);
}
